.pfp-container {
  position: relative;
  display: inline-block;
}

.pfp-container img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 300px;
}

.pfp-container .pfp-text {
  display: none;
}

.pfp-container:hover .pfp-text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.pfp-text a {
  color: white;
}

.row-container {
  max-width: 100% !important;
}

.row-title {
  max-width: 2500px !important;
}

.row-title div {
  max-width: 2300px !important;
}

.carousel-inner .card-img-top {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}

.grid-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  background-color: rgb(53, 174, 249);
}
