{% extends 'base.html' %}

<!-- title -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- content -->
{% block content %}

<div class="container" style="position: relative; min-height: 34vh">
  <h3 class="text-center">Hello, you should login for a personal experience</h3>
  <!-- form -->
  <div style="width: 20vw; position: absolute; left: 34%">
    <form action="{{url_for('login')}}" method="POST">
      {% include 'form-temp.j2' %}
      <button type="submit" class="btn btn-primary mt-3">Log in!</button>
    </form>
    <a href="{{url_for('signup')}}">Not a user? Become one</a>
  </div>
</div>

<div class="container-fluid">
  <!-- Top Artists -->

  <div class="row mb-5" id="show-top-artists">
    <div class="col">
      <div class="row-title mb-4" style="background-color: white">
        <h2 class="text-start">See Your Top Artists On Spotify!</h2>
        <div class="border-bottom border-black"></div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 g-4 text-center">
        {% for artist in generic_artists %}
        <div class="col">
          <div>
            <span class="align-bottom fw-bold fs-1 me-3"
              >{{artist['id']}}.</span
            >
            <img
              src="{{artist['image']}}"
              alt=""
              class="img-fluid"
              style="max-height: 200px; filter: blur(15px)"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Artist Events -->

  <div class="container-fluid pt-5" style="background-color: white">
    <div class="container row-title mb-5">
      <h2 class="text-start">See Your Top Artist Events Near You!</h2>
      <div class="border-bottom border-black"></div>
    </div>
    <div class="container-fluid" style="min-height: 57vh">
      <div class="row row-cols-3 mx-auto" style="max-width: 90vw">
        {% for event in all_events[0] %}
        <div class="col" style="filter: blur(15px)">
          <div
            class="card mb-3"
            style="min-height: 300px; max-width: 700px; max-height: 300px"
          >
            <div class="row g-0">
              <div
                class="col-md-4 pt-1 ps-1"
                style="min-height: 290px; max-height: 290px"
              >
                <img
                  src="{{event.image}}"
                  alt=""
                  class="img-fluid rounded-start grid-card-img"
                />
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">{{event.name}}</h3>
                  <p class="card-text">{{event.location}}</p>
                  <p class="card-text">
                    {{ event.date.strftime('%B %d, %Y') if event.date else 'TBA'
                    }}
                  </p>
                  <h5 class="card-title">{{event.artist}}</h5>

                  <a href="{{event.url}}" class="btn btn-primary"
                    >Get Tickets</a
                  >
                  {% if event.event_id not in wishlist %}
                  <button
                    class="btn btn-success ms-3 wishlistBtn"
                    data-eventid="{{event.event_id}}"
                  >
                    Add to Wishlist
                  </button>
                  {% else %}
                  <button
                    class="btn btn-danger ms-3 wishlistBtn"
                    data-eventid="{{event.event_id}}"
                  >
                    Remove from Wishlist</button
                  >{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Popular events -->
  <div class="container row-title mb-4">
    <h2 class="text-start">Trending Events</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="container row-container">
    <div
      id="popularCardCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        {% for event_group in all_events %}
        <div class="carousel-item {% if loop.first %} active {% endif %}">
          <div class="card-group">
            {% for event in event_group %}
            <div class="card">
              <img
                src="{{event.image}}"
                alt=""
                class="card-img-top"
                style="max-height: 230px"
              />
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.location}}</p>
                <p class="card-text">
                  {{ event.date.strftime('%B %d, %Y') if event.date else 'TBA'
                  }}
                </p>
                <a href="{{event.url}}" class="btn btn-primary">Get tickets</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
