{% extends 'base.html' %}

<!-- title -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- content -->
{% block content %}

<div class="container" style="position: relative; min-height: 34vh">
  <h3 class="text-center">Hello, you should login for a personal experience</h3>
  <!-- form -->
  <div style="width: 20vw; position: absolute; left: 34%">
    <form action="{{url_for('login')}}" method="POST">
      {% include 'form-temp.j2' %}
      <button type="submit" class="btn btn-primary mt-3">Log in!</button>
    </form>
    <a href="{{url_for('signup')}}">Not a user? Become one</a>
  </div>
</div>

<div class="container-fluid">
  <!-- Popular events -->
  <div class="container row-title mb-4">
    <h2 class="text-start">Trending Events</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="container row-container">
    <div
      id="popularCardCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        {% for event_group in all_events %}
        <div class="carousel-item {% if loop.first %} active {% endif %}">
          <div class="card-group">
            {% for event in event_group %}
            <div class="card">
              <img
                src="{{event.image}}"
                alt=""
                class="card-img-top"
                style="max-height: 230px"
              />
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.location}}</p>
                <p class="card-text">
                  {{ event.date.strftime('%B %d, %Y') if event.date else 'TBA'
                  }}
                </p>
                <a href="" class="btn btn-primary">Get tickets</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
